body {
  background: #581845; 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

#title {
  margin: 20px auto 0 auto;
  width: 500px;
  text-align: centre;
}

#authors {
  margin: 20px auto 0 auto;
  width: 500px;
  text-align: left;
}

#poem {
  margin: 0 auto;
  width: 300px;
  text-align : centre;
  padding-top: 100px;
/*   border-style: dotted; */
}

#wrapper {
  display: flex;
  justify-content: center
}

#left {
  flex: 1 0 200px;
  margin-left: 75px;
  margin-right: 15px;
  text-align: justify;
}

#right {
  flex: 1 0 200px;
  margin-right: 75px;
  margin-left: 15px;
  text-align: justify;
}