html {min-height: 100%;}

body {
  min-height: 100%;  
  font-family: serif;
  padding-top: 30px;    
}

page {
  background: white;
  display: block;
  margin: 20px auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding-top: 20px;
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

#title {
  text-align: center;
}

h1 {
/*     text-align: center; */
}

#authors {
  margin: 20px auto 20px auto;
/*   width: 500px; */
  text-align: center;
}

#addresses {
  margin: 20px auto 20px auto;
/*   width: 500px; */
  text-align: center;
}

#abstract {
  margin: 20px auto 20px auto;
  width: 500px;
  text-align: justify;
}

.wrapper {
  display: flex;
  justify-content: center
}

#left {
  flex: 1 0 200px;
  margin-left: 75px;
  margin-right: 15px;
  text-align: justify;
}

#right {
  flex: 1 0 200px;
  margin-right: 75px;
  margin-left: 15px;
  text-align: right;
}

img {
/*     width: 200px; */
   margin: 20px auto 20px auto;
}


a {
 cursor: pointer;
 color: black;
 text-decoration: none;
 
}

#bottom_nav_container {
    width: 300px;
    margin: 20px auto;
}