body {
    background: rgb(252,176,69);
    background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(206,100,84,1) 00%, rgba(144,46,89,1) 70%, rgba(83,29,92,1) 100%);

margin: 0;
  padding: 50px;
}
canvas {
  display: block;
  position:fixed; 
  top:0;
  left:0;
  z-index: -1;
}

#title {
  z-index: 10;
  width: 400px;
  margin: 0 auto;
}

h1 {  
  font-size: 30px;
  color: white;
}

#poem-div {
  width: 400px;
  height: 500px;
  z-index: 10;
  margin: 10px auto;
}

#hidden_poem {
  width: 400px;
  height: 500px;
  z-index: 10;
  margin: 10px auto;
  color: white;
}


