body {
    font-family: 'Didot', Times, serif;
    font-size: 100%;
    line-height: 1.5;

    background-color: #531d5c;
    color: #ffb1b1;
    margin-top: 100px;
    margin-left: 80px;
  
    background-image:url(danwebbcg01.jpg);
    background-size: cover;
}