html {
  min-height: 100%;
  position:relative;
}

html, body {    
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  position:fixed; 
  top:0;
  left:0;
  z-index: -1;
}

a {
    color: #ffb1b1;
    text-decoration: none;
    font-size: 1.1em;
    text-align: right;
}

#poem {
  font-family: Arial, Helvetica, sans-serif;
   height: 460px;
   color: white;
    font-size: 1em;
    display: block;
    position: fixed;
    width: auto;
    height: 460px;
    top: 0;
    left: 50%;
    margin-top: 10%;
    margin-left: -200px; /* Negative half of width. */
    z-index: 0;
}

#info_para {
  font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-size: 1em;
   line-height: 150%;
    
    display: block;
    position: fixed;
    width: 400px;
    height: 460px;
    top: 0;
    left: 50%;
    margin-top: 10%;
    margin-left: -200px; /* Negative half of width. */
    z-index: 0;
}

@media only screen and (max-width: 480px) {
#poem {
    width: 80%;
    margin-left: -40%;
    margin-top: 10%;
    font-size: 0.9em;
 }
    
#info_para {
    width: 80%;
    margin-left: -40%;
    margin-top: 10%;
    font-size: 0.9em;
 }
}